[submodule "editor/imgui"]
	path = editor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "editor/ImGuizmo"]
	path = editor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "engine/physics/reactphysics3d"]
	path = engine/physics/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
[submodule "editor/ImGuiColorTextEdit"]
	path = editor/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
